@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    background: var(--bg-dark);
}

body, button, input, select, textarea {
    font-family: "Poppins", sans-serif;
    color: white;
}

:root {
    --purple: #5280e2;
    --green: #15cdcb;
    --bg-dark: #212226;
    --light-grey: #e0dede;
    --menu-height: 75px;
}

h1 {
    font-size: 44px;
}

h2 {
    font-size: 24px;
}

h1, h2 {
    margin: 0;
    font-weight: 400;
}

.titleGreen {
    color: var(--green);
}

button {
    background: var(--purple);
    border-radius: 16px;
    font-size: 18px;
    color: white;
    border: 0;
    padding: 8px 35px;
    font-weight: bold;
}

header {
    height: calc(100vh - var(--menu-height));
    display: flex;
    align-items: center;
}

header .container {
    padding: 0 100px;
    width: 50%;
    height: fit-content;
}

header .container img {
    display: none;
}

header .container button {
    margin-top: 40px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--menu-height);
    background: var(--bg-dark);
    padding: 0 100px;
    position: sticky;
    top: 0;
}

nav img {
    height: 45px;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

nav ul a {
    font-size: 24px;
    color: var(--light-grey);
    text-decoration: none;
}

nav ul a svg {
    display: none;
}

section {
    height: 1500px;
    background: var(--purple);
}

.aboutMe {
    display: flex;
    padding: 100px;
}

.aboutMe .container {
    width: 50%;
    padding-right: 50px;
}

.aboutMe .imgContainer {
    width: 50%;
    /* text-align: center; Obs1.: para posicionar img no centro*/
}

.aboutMe .imgContainer img {
    width: 75%;
    display: block; /* Obs1.: podemos utilizar essa opção tbm */
    margin: 0 auto;
}

.aboutMe .container h2 {
    font-size: 44px;
}




/* Responsivo */
/* desktop - 1150px */
@media (max-width: 1150px) {
    nav ul a {
        font-size: 22px;
    }
}

/* desktop 1000px */
@media (max-width: 1000px) {
    header .container {
        width: 100%;
    }
    nav {
        padding: 0 30px;
    }
    nav ul a {
        font-size: 18px;
    }
}

/* tablet - 767px */
@media (max-width: 767px) {
    header .container {
        width: 100%;
        padding: 0 30px;
    }
    header .container img {
        display: inline;
        margin-bottom: 70px;
    }
    nav {
        padding: 0 30px;
    }
    nav img {
        display: none;
    }
    nav ul {
        padding: 0;
    }
    nav ul a {
        font-size: 16px;
    }
}

/* Smartphone - 480px */
@media (max-width: 480px) {
    header .container {
        padding: 0 40px;
    }
    nav {
        padding: 0 15px;
        position: fixed;
        bottom: 0;
        top: unset;
        width: 100%;
    }
    nav ul a {
        font-size: 12px;
    }
    nav ul a svg {
        display: block;
        margin: 0 auto 10px;
    }
}/*  */